@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@

<!-- light-blue - v3.3.0 - 2016-03-08 -->

<!DOCTYPE html>
<html>

<!-- Mirrored from demo.flatlogic.com/3.3.1/dark/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 12 Oct 2016 17:25:45 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <title>Light Blue - Responsive Admin Dashboard Template</title>

    <link href="~/Public/css/application.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="~/Public/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <script>
        /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
           chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
                      https://code.google.com/p/chromium/issues/detail?id=332189
        */
    </script>
</head>
<body>
    <center><h1>Wemtek - Tool Managment</h1> </center>
    <div class="single-widget-container">
        <section class="widget login-widget" style="
    margin-left: 14%;
">
            <header class="text-align-center">
                <h4>Login to your account</h4>
            </header>
            <div class="body">
                <form class="no-margin"
                      action="http://demo.flatlogic.com/3.3.1/dark/index.html" method="get">
                    <fieldset>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </span>
                                <input id="email" type="email" class="form-control input-lg input-transparent"
                                       placeholder="Your Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>

                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock"></i>
                                </span>
                                <input id="password" type="password" class="form-control input-lg input-transparent"
                                       placeholder="Your Password">
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-block btn-lg btn-danger">
                            <span class="small-circle"><i class="fa fa-caret-right"></i></span>
                            <small>Sign In</small>
                        </button>
                        <a class="forgot" href="#">Forgot Username or Password?</a>
                    </div>
                </form>
            </div>
            <footer>
                <div class="facebook-login">
                    <a href="index.html"><span><i class="fa fa-facebook-square fa-lg"></i> LogIn with Facebook</span></a>
                </div>
            </footer>
        </section>
        <section class="widget login-widget" style="
    margin-left: 53%;
    margin-top: -29%;
">
            <header class="text-align-center">
                <h4>Strat Now By Creating Your Own Company</h4>
            </header>
            <div class="body">
                <form class="no-margin"
                      action="http://demo.flatlogic.com/3.3.1/dark/index.html" method="get">
                    <fieldset>
                        <div class="form-group">
                            <label for="email">Company Name</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    
                                </span>
                                  
                                <input id="companyname" type="text" class="form-control input-lg input-transparent"
                                       placeholder="Your Company Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="companyname">Your Country</label>

                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                  
                                </span>
                                <input id="country" type="text" class="form-control input-lg input-transparent"
                                       placeholder="Your Country">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="website">Your Website</label>

                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">

                                </span>
                                <input id="website" type="text" class="form-control input-lg input-transparent"
                                       placeholder="Your Website">
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-block btn-lg btn-danger">
                            <span class="small-circle"><i class="fa fa-caret-right"></i></span>
                            <small>Create</small>
                        </button>
                        <a class="forgot" href="#">Join Company</a>
                    </div>
                </form>
            </div>
            <footer>
                
            </footer>
        </section>
    </div>
    <!-- common libraries. required for every page-->
    <script src="~/Public/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Public/lib/jquery-pjax/jquery.pjax.js"></script>
    <script src="~/Public/lib/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
    <script src="~/Public/lib/widgster/widgster.js"></script>
    <script src="~/Public/lib/underscore/underscore.js"></script>

    <!-- common application js -->
    <script src="~/Public/js/app.js"></script>
    <script src="~/Public/js/settings.js"></script>

    <!-- common templates -->
    <script type="text/template" id="settings-template">
        <div class="setting clearfix">
            <div>Sidebar on the</div>
            <div id="sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
                <% onRight = sidebar == 'right'%>
                <button type="button" data-value="left" class="btn btn-sm btn-default <%= onRight? '' : 'active' %>">Left</button>
                <button type="button" data-value="right" class="btn btn-sm btn-default <%= onRight? 'active' : '' %>">Right</button>
            </div>
        </div>
        <div class="setting clearfix">
            <div>Sidebar</div>
            <div id="display-sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
                <% display = displaySidebar%>
                <button type="button" data-value="true" class="btn btn-sm btn-default <%= display? 'active' : '' %>">Show</button>
                <button type="button" data-value="false" class="btn btn-sm btn-default <%= display? '' : 'active' %>">Hide</button>
            </div>
        </div>
        <div class="setting clearfix">
            <div>Light Version</div>
            <div>
                <a href="../light/index.html" class="btn btn-sm btn-default">&nbsp; Switch &nbsp;   <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <div class="setting clearfix">
            <div>White Version</div>
            <div>
                <a href="../white/index.html" class="btn btn-sm btn-default">&nbsp; Switch &nbsp;   <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </script>

    <script type="text/template" id="sidebar-settings-template">
        <% auto = sidebarState == 'auto'%>
        <% if (auto) {%>
        <button type="button"
                data-value="icons"
                class="btn-icons btn btn-transparent btn-sm">
            Icons
        </button>
        <button type="button"
                data-value="auto"
                class="btn-auto btn btn-transparent btn-sm">
            Auto
        </button>
        <%} else {%>
        <button type="button"
                data-value="auto"
                class="btn btn-transparent btn-sm">
            Auto
        </button>
        <% } %>
    </script>

    <!-- page specific scripts -->


</body>

<!-- Mirrored from demo.flatlogic.com/3.3.1/dark/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 12 Oct 2016 17:25:45 GMT -->
</html>